.container, a{
    color: azure;
}

.hero{
    background-color: blue;
    position: relative;
    text-align: center;

}
  body{
    background-color: black;
  }

.logo{
    height: 5px;
}

.container {
    text-align: right; 
    line-height: 20px; 
    height: 20px; 

  }

.container, a{
    padding: 10px;
}

.background{
    padding: 20px;
    position: relative;
}

.card{
    float: left;
    padding: 15px;
    width: 200px;
    position:relative;
    padding-left: 500px;
    text-align: center;
    padding: 10px;
    
}

.card img{
    width: 200px;
    padding: 15px;

   

}

h2, h3, p, h5{
    color:white; 
    position: relative;
    text-align: center;
 
 }
 


main {
    display: flex;
    justify-content: center;
}

.div{
   border: 1px solid red;
}

.card2{
    display: flex;
    align-items: center;
    justify-content: center;
   



}

.div{
    padding: 20px;
    margin: 30px;
    z-index: 1;
    background-color: black;

}

h4,h5{
    color: azure;
}