.container, a{
    color: azure;
}

.hero{
    background-color: blue;
    position: relative;
    text-align: center;

}
  body{
    background-color: black;
  }

.logo{
    height: 5px;
}

.container {
    text-align: right; 
    line-height: 20px; 
    height: 20px; 

  }

.container, a{
    padding: 10px;
}

.background{
    padding: 20px;
    position: relative;
}

.card{
    float: left;
    padding: 15px;
    width: 200px;
    position:relative;
    padding-left: 500px;
    text-align: center;
    padding: 10px;
    
}

.card img{
    width: 200px;
    padding: 15px;

   

}

h2,p{
   color:white; 
   position: relative;
   text-align: center;

}

p{
    color: white;
}
