.container, a{
    color:seashell;
    font-size: 22px;
    font-family:Helvetica, sans-serif;
    padding: 5px;
}
.cabecalho{
    height: 50px;
}
.hero{
    background-color: blue;
    position: relative;
    text-align: center;

}
  body{
    background-color: black;
  }

.logo{
    height: 5px;
    margin-left:220px;
}

.container {
    text-align: right; 
    line-height: 20px; 
    height: 20px; 
    margin-right: 200px;

  }

.background{
    padding: 20px;
    position: relative;
}

.image-container{
    position: relative;
    display: flex;
    justify-content: center;
    display: block;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 50px;

}
.img1{
    margin-top: 69px; /* Margem superior de 69px, esquerda e direita de 40px */
    height: 700px; 
     margin:0 auto;
    display: flex;
    justify-content: center;
    width: 1100px;
    border-bottom: 1px solid seashell;

   
}
.overlay{
    background-color: black; 
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza no meio */
    width: 1200px;
    height: 100px;
    font-family:Helvetica, sans-serif;
    padding: 10px;
    
}
   
    .cardMae {
        width: 1000px;
        margin:0 auto;
        flex-wrap: wrap; /* Permite que os cards quebrem para a linha seguinte */
        justify-content: center; 

    }
    
    .card {
        width: 300px; /* Defina apenas uma vez a largura */
        height: 200px;
        padding: 10px;
        text-align: center;
        margin-right: 10px; /* Ajuste o espaçamento entre os cards */
        position: relative;
        margin:5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        font-family:Helvetica, sans-serif;
        font-size: 22px;
        margin-bottom: 20px;
   

    }
    
    .card img {
        width: 300px; /* A imagem ocupará 100% da largura do card */
        height: auto; /* Ajusta a altura da imagem conforme o card */
        max-height:300px;
        margin-top: 40px;
        

    }
    .card h4 {
        margin-top: 10px; /* Adiciona um espaço entre a imagem e o texto */
    }
    

h2, h3, p, h5,h1{
    color:seashell; 
    position: relative;
    text-align: center;
 
 }
 


main {
    display: flex;
    justify-content: center;
}


.card2{
    display: flex;
    align-items: center;
    justify-content: center;
   



}

h4,h5{
    color: seashell;
}


.img2{
    margin: 0 auto;
    margin-top:100px;
    width: 500px; /* Esconde a parte que ultrapassar */



}


.image-container {
    position: relative;
    width: 1200px;  
    text-align: center;
    margin:0 auto;
    z-index: 1;  }
  
  .img2 {
    width: 100%;
    display: block;
    overflow: hidden; /* Esconde a parte da imagem que ultrapassar o contêiner */

  }
  
  .container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    margin-top:70px;
  }
  
  .divs {
    background:black;
    color:seashell;
    padding: 10px;
    margin: 20px;
    width: 250px;
    height: 250px;
  }

  .meio{
    margin-top: 80px;
  }

  .footer{
    height: 200px;
    margin-top: 20px;
  }

.final{
    position: relative;
    margin-right: 2px;
    margin-bottom: 35px;
}
.location-container {
    position: relative; /* Define o contêiner como referência para o texto */
    display: inline-block; /* Ajusta o tamanho do contêiner à imagem */
  }
  
  .img2 {
    width: 100%; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .location {
    color: seashell; /* Cor do texto */
    font-size: 50px;
    align-items: center;

    
   
  }
  