.header{
    margin: 0px;
    background-color: rgb(107, 43, 180);
}

.div1{
  align-items: center;
  margin-left: 200px;
}
.div2{
  margin-left: 400px;
}
.container {
    text-align: right; 
    line-height: 20px; 
    height: 20px; 
  }
  
  .container a {
    margin-left: 40px; 
    text-decoration: none; 
    color: white;
  }
.nome{
    background: rgb(168, 106, 177);
    text-align: center;
    color: white;
}


.paragrafo {
    width: 80%;         
    margin: 30px auto;   
    padding: 20px;       
    background-color: #f0f0f0; 
    border-radius: 8px;  
    max-width: 500px;
    position: relative;

  }
  
  
  .paragrafo p {
    font-size: 16px;    
    line-height: 1.5;    
    color: #333;  
    
  }

 
  .card {
    width: 300px; /* Defina apenas uma vez a largura */
    height: 200px;
    text-align: center;
    margin: 0 auto; 
    float: left;
    
    margin-right: 100px;
    justify-items: center;
  
   
    
  }
  
  .card img {
    width: 150px;           
  }

  .card, h2 {
    font-size: 15px;

  }
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  

  h3 {
    color:white;
    margin-bottom: 10px;
    background: rgb(107, 43, 180);
    text-align: center;

  }
  
  h4 {
    color: #555;
    margin-bottom: 20px;
  }
  
  table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    background: rgb(168, 106, 177);
  }
  

  p {
    color: #333;
    line-height: 1.6;
    max-width: 800px;
    margin: 10px auto;
    padding: 0 10px;
  }
  
  /* Estilo para o rodapé */
  footer {
    background: rgb(168, 106, 177);
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

.hero{
    text-align: center;
}

#educacao {
    clear: both; 
}

